/* Header Relateded Styles */
.header-section1 {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.header-left {
    margin-left: 240px;
    margin-top: 197px;
    max-width: 700px;

}

.header-left-title {
    margin-bottom: 32px;
}

.header-left-paragraph {
    margin-top: 0px;
}

.header-left-button {
    margin-top: 32px;
    margin-bottom: 167px;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;

}

.header-right {
     margin-top: 50px;
    margin-right: 240px;
    
}

/* main relateded styles */
/* section1 styles start */
.section1{
text-align: center;

}
.section1-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
    margin-bottom: 24px;
      

}
.section1-paragraph{
margin: 0px auto;
max-width: 594px;
color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}

/* section2 relateded styles start  */
.section2{
    display:flex;
    justify-content:center;
    margin-top: 48px;
    
}
#image1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 110px 76px 0px 76px;
}
#image2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-left: 24px;
    margin-right: 24px;
    padding:117px 47px 51px 47px ;

    
}
    
#image3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding:67px 75px 0px 75px ;
}
.section2-paragraph{
    text-align: center;
}
/* Section3 styles start here  */
.section3{
    display: flex;
    justify-content: center;
    margin-top: 128px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
padding-top: 86px;
margin-left: 240px;
margin-right: 240px;

}

.section3-image{
    padding-bottom:24px ;
}
#section3-image1{
margin-right: 356px ;
padding-left: 80px;
}
#section3-image2{
    margin-right: 356px ;
    padding-left: 70px;
}
#section3-image3{
    padding-left: 15px;
}
/* Section4 Styles start here  */
.section4{
    display: flex;
    justify-content: center;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 128px;
}
.section4-left-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 230px;
    margin-left: 423px; 
    margin-right: 315px;
    margin-bottom: 24px;
    

}
.section4-left-title-off{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;


}
.section4-left-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px auto;
    max-width: 594px;
    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 395px;
    
       
}
.section4-left-button{
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
background: #E55473;
margin-top: 0px;
margin-bottom: 182px;
margin-left: 642px;
     
}
.section4-right-image{
    margin-top: 100px;
    margin-right: 429px;
    margin-bottom: 100px;
}
/* section5 relateded styles start  */
.section5{
text-align: center;
margin-top: 128px;
}
.section5-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}
.section5-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px auto;
    max-width: 594px;
    margin-top: 0px;

}