/* Header Relateded Styles */
.header-section1 {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.header-left {
    margin-left: 240px;
    margin-top: 197px;
    max-width: 700px;

}

.header-left-title {
    margin-bottom: 32px;
}

.header-left-paragraph {
    margin-top: 0px;
}

.header-left-button {
    margin-top: 32px;
    margin-bottom: 167px;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;

}

.header-right {
     margin-top: 50px;
    margin-right: 240px;
    
}

/* main relateded styles */
/* section1 styles start */
.section1{
text-align: center;

}
.section1-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
    margin-bottom: 24px;
      

}
.section1-paragraph{
margin: 0px auto;
max-width: 594px;
color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}

/* section relateded styles start  */
.section2{
    display:flex;
    justify-content:center;
    
}
#image1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}
#image2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-bottom: 51px;
    margin-left: 24px;
    margin-right: 24px;
    
}
    
#image3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
     
}
.section2-paragraph{
    text-align: center;
}